# Ignore Terraform plan file
tfplan

# Ignore Terraform state files
*.tfstate
*.tfstate.*

# Ignore Terraform lock files
*.lock.hcl

# Ignore Terraform working directory
.terraform/

# Ignore scratch files
*.scratch.txt

# Ignore MacOS DS Store files
.DS_Store
